@charset "UTF-8";
/* Utilidades (Vars ------ Reset */
@import url("https://fonts.googleapis.com/css2?family=Jersey+25&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Colores */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

/* Secciones */
/* /////////////////////////////H1 global////////////////////////////////////////// */
h1 {
  font-family: "Jersey 25", sans-serif !important;
  color: white; }

/* //////////////////////////////Navegacion ///////////////////////////////*/
.container-navbar {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas: "logo links busqueda";
  padding: 10px;
  margin-bottom: 30px; }
  .container-navbar .logo {
    grid-area: logo; }
    .container-navbar .logo img {
      width: 300px;
      height: 180px;
      display: inline-block; }
  .container-navbar .links {
    grid-area: links;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Piso valores de bootstrap de padding y margin */
    padding-left: 0px;
    margin-bottom: 0px;
    height: 180px; }
    .container-navbar .links li {
      display: inline-block;
      padding: 10px; }
      .container-navbar .links li a {
        font-family: "Jersey 25", sans-serif !important;
        font-size: 140%;
        text-decoration: none;
        font-weight: bold;
        color: white; }
  .container-navbar .busqueda {
    grid-area: busqueda;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center; }
    .container-navbar .busqueda input {
      outline: none;
      border: none;
      height: 32px;
      width: 200px;
      font-style: "Poppins", sans-serif;
      font-size: 1rem;
      border-radius: 5px; }
    .container-navbar .busqueda button {
      background-color: black;
      border-radius: 10px; }
      .container-navbar .busqueda button img {
        height: 28px;
        width: 28px; }

/*////////////// //////////////Medias querys ///////////////////////////// */
/* Mobile last /// Max Width */
@media (max-width: 1000px) {
  .container-navbar {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo links" "busqueda busqueda"; }
    .container-navbar .busqueda {
      margin: auto;
      padding-bottom: 30px; }
      .container-navbar .busqueda input {
        width: 500px; }
    .container-navbar .links li {
      padding: 5px; } }

@media (max-width: 715px) {
  .container-navbar {
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "links" "busqueda"; }
    .container-navbar .logo {
      margin: auto; } }

@media (max-width: 655px) {
  .container-navbar .busqueda input {
    width: 400px; } }

@media (max-width: 475px) {
  .container-navbar .links {
    flex-direction: column; }
    .container-navbar .links li {
      padding: 1px; }
  .container-navbar .busqueda input {
    width: 250px; } }

/* ///////////////////////Productos//////////////////////////////////*/
.productos-main h2 {
  text-align: center;
  padding-top: 30px; }

.productos-main h3 {
  text-align: center;
  border-bottom: 2px solid #000;
  width: 70%;
  margin: auto;
  padding: 10px; }

.productos-main .productos {
  display: flex;
  flex-direction: row;
  min-height: 400px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .productos-main .productos .prod {
    width: 350px;
    height: 485px;
    text-align: center;
    padding: 3%;
    margin: 2%;
    border-radius: 6px;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
    cursor: pointer; }
    .productos-main .productos .prod img {
      height: 280px; }
    .productos-main .productos .prod button {
      background-color: black;
      font-family: "Poppins", sans-serif;
      color: #9FCC2E;
      font-size: medium;
      border-radius: 5px;
      height: 30px;
      width: 100px;
      margin-top: 15px;
      cursor: pointer; }
  .productos-main .productos .prod:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }

/*///////////////////////// Inicio////////////////////////////////////// */
.ingresos h2 {
  padding: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 24px;
  border-bottom: 2px solid #000; }

.ingresos .row .ing {
  padding-bottom: 40px;
  padding-top: 40px;
  cursor: pointer; }
  .ingresos .row .ing h3 {
    font-size: 1rem; }
  .ingresos .row .ing img {
    height: 250px;
    width: 250px; }
  .ingresos .row .ing button {
    background-color: black;
    font-family: "Poppins", sans-serif;
    color: #9FCC2E;
    font-size: medium;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    margin-top: 15px;
    cursor: pointer; }

/* /////////////////////////////// Footer////////////////////////////// */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas: "links-f mencion redes";
  background-image: radial-gradient(circle, #240264, #7111f0); }
  .footer .mencion {
    grid-area: mencion;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #9FCC2E; }
    .footer .mencion h3 {
      text-align: center;
      font-size: 1rem; }
    .footer .mencion h5 {
      text-align: center;
      font-size: 1rem; }
  .footer .links-f {
    grid-area: links-f;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
    .footer .links-f li {
      list-style: none;
      margin: auto;
      padding-top: 10px; }
      .footer .links-f li a {
        list-style: none;
        text-decoration: none;
        color: #9FCC2E;
        font-weight: bold; }
  .footer .redes {
    grid-area: redes;
    display: flex;
    flex-wrap: wrap;
    margin: auto; }
    .footer .redes a {
      padding-right: 10px; }
      .footer .redes a img {
        width: 40px;
        height: 40px; }

/* ///////////////////////HEADERS//////////////////////////////////*/
.headers h1 {
  height: 135px;
  padding-top: 45px;
  color: white;
  background-image: url(https://i.redd.it/69e5cqczbrda1.png);
  text-align: center;
  font-family: "Jersey 25", sans-serif; }

/* header index-main con boostrap (piso valores) para que quede igual que los otros html sin boostrap*/
.index-main .headers h1 {
  margin-bottom: 0px;
  height: 135px;
  font-size: 32px;
  font-weight: bold; }

/* Nosotros */
.container-nosotros {
  display: flex;
  flex-direction: column; }
  .container-nosotros .texto-nos {
    padding: 40px;
    width: 50%;
    text-align: justify;
    margin: auto;
    font-size: 100%; }
    .container-nosotros .texto-nos h2 {
      text-align: center;
      padding: 30px; }
  .container-nosotros .mapa {
    margin: auto;
    padding: 40px; }

@media (max-width: 1100px) {
  .container-nosotros .texto-nos {
    width: 80%; } }

@media (max-width: 680px) {
  .container-nosotros .texto-nos {
    padding: 5px; }
  .container-nosotros .mapa iframe {
    width: auto; } }

@media (max-width: 380px) {
  .container-nosotros .texto-nos {
    padding: 0px;
    width: 90%; }
  .container-nosotros .mapa iframe {
    width: 200px;
    height: 200px; } }

/* Formulario */
.container-contacto {
  margin: auto;
  text-align: center;
  padding: 40px; }
  .container-contacto .container-formulario {
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .container-contacto .container-formulario .formulario {
      padding: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .container-contacto .container-formulario .formulario .comentario {
        background-image: url("../../resources/logoFondoBlanco.png");
        background-size: cover;
        /* Ajusta la imagen para que cubra todo el área del textarea */
        background-repeat: no-repeat;
        /* Evita que la imagen se repita */
        background-position: center;
        /* Centra la imagen de fondo */
        opacity: 0.5;
        max-width: 400px;
        max-height: 400px; }
      .container-contacto .container-formulario .formulario .inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px; }
        .container-contacto .container-formulario .formulario .inputs input {
          font-family: "Poppins", sans-serif;
          padding: 2px;
          margin: 5px; }
        .container-contacto .container-formulario .formulario .inputs .enviar {
          background-color: black;
          font-family: "Poppins", sans-serif;
          color: #9FCC2E;
          font-size: medium;
          border-radius: 5px;
          height: 30px;
          width: 100px;
          cursor: pointer; }

@media (max-width: 920px) {
  .container-contacto .container-formulario .formulario {
    flex-direction: column; } }

@media (max-width: 480px) {
  .container-contacto .container-formulario .formulario .comentario {
    width: 200px;
    height: 300px; } }

/* Carrousel */
#carouselExampleIndicators {
  padding-top: 40px; }
  #carouselExampleIndicators .carousel {
    width: 700px;
    margin: auto; }
  #carouselExampleIndicators .carousel-item img {
    max-height: 700px; }

.banner {
  text-align: center;
  background-image: radial-gradient(circle, #240264, #7111f0);
  height: 25px;
  display: flex;
  justify-content: center; }
  .banner i {
    color: #9FCC2E;
    padding: 5px; }
  .banner h5 {
    font-size: 13px;
    color: white;
    padding: 5px;
    font-weight: normal;
    margin: 0px; }
