/* Carrousel */
#carouselExampleIndicators{
    padding-top:40px;
    .carousel{
         width: 700px;
        margin: auto;
    }
    .carousel-item{
        img{
            max-height: 700px;
        }
    }
}

