.main-galeria{
    .container-galeria {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        padding-left: 100px;
        padding-right: 100px;
        .card-galeria {
            position: relative;
            /* Agregar posición relativa para que los elementos absolutos se posicionen con respecto a este contenedor */
            text-align: center;
            width: 80%;
            max-width: 1100px;
            max-height: 300px;
            margin-bottom: 20px;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 20px;
            }
    
            
            h5,p {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                margin: 0;
                color: white;
                font-size: 1rem;
                z-index: 1;
            }
            
            h5 {
                font-size: 19px;
                top: 40%; /* Ajustar la posición vertical del h5 */
            }
            
            p {
                top: 50%; /* Ajustar la posición vertical del p */
            }
        }
    
        .card1 {
            grid-row: 1;
            /* Primera fila */
            grid-column: 1;
            /* Primera columna */
        }
    
        .card2 {
            grid-row: 2;
            /* Segunda fila */
            grid-column: 1;
            /* Primera columna */
            justify-self: end;
            /* Alinea la carta a la derecha */
        }
    
        .card3 {
            grid-row: 3;
            /* Tercera fila */
            grid-column: 1;
            /* Primera columna */
        }
    
    }

}

@media (max-width: 980px){
    .main-galeria{
        .container-galeria{
            justify-items: center;
            .card2{
                justify-self: center;
            }
            .card-galeria{
                h5{
                    top: 20% ;

                }
                p{
                    top: 40% ;

                }
            }
        }
    }


}


@media (max-width: 798px){
    .main-galeria{
        .container-galeria{
            padding: 30px;
            .card-galeria{
                h5{
                    font-size: 20px;
                    top: 20%;
                }
                p{
                    font-size: 15px;
                    top: 40%;
                }
            }

        }
    }


}

@media (max-width: 580px){
    .main-galeria{
        .container-galeria{
            padding: 5px;
            .card-galeria{
                h5{
                    top: 5%;

                }
                p{
                    top: 30%;

                }
            }

        }
    }


}

@media (max-width: 520px){
    .main-galeria{
        .container-galeria{
            padding: 5px;
            .card-galeria{
                h5{
                    top: 35%;

                }
                p{
                    display: none;

                }
            }

        }
    }


}

@media (max-width: 520px){
    .main-galeria{
        .container-galeria{
            padding: 0px;
            .card-galeria{
                h5{
                    top: 25%;
                }
            }

        }
    }


}
