/*///////////////////////// Inicio////////////////////////////////////// */

.ingresos {
    h2 {
        padding: 40px;
        font-family: $fuente-secundaria;
        font-weight: bolder;
        font-size: 24px;
        border-bottom: 2px solid #000;
    }
    .row {
        .ing {
            padding-bottom: 40px;
            padding-top: 40px;
            h3{
                font-size: 1rem;
            }
            img {
                height: 250px;
                width: 250px;
            }
            button{
                background-color: black;
                font-family: $fuente-secundaria;
                color: $yellow-green;
                font-size: medium;
                border-radius: 5px;
                height: 30px;
                width: 100px;
                margin-top: 15px;
            }

        }
    }
}



