/* //////////////////////////////Navegacion ///////////////////////////////*/
.container-navbar {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "logo links busqueda";
    padding: 10px;
    margin-bottom: 30px;

    .logo {
        grid-area: logo;

        img {
            width: 300px;
            height: 180px;
            display: inline-block;
        }
    }

    .links {
        grid-area: links;
        display: flex;
        align-items: center;
        justify-content: center;
        /* Piso valores de bootstrap de padding y margin */
        padding-left: 0px;
        margin-bottom: 0px;
        height: 180px;

        li {
            display: inline-block;
            padding: 15px;

            a {
                font-family: "Jersey 25", sans-serif !important;
                font-size: 140%;
                text-decoration: none;
                font-weight: bold;
                color: white;
            }

        }

    }

    .busqueda {
        grid-area: busqueda;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;

        input {
            outline: none;
            border: none;
            height: 32px;
            width: 200px;
            font-style: $fuente-secundaria;
            font-size: 1rem;
            border-radius: 5px;
        }

        button {
            background-color: black;
            border-radius: 10px;

            img {
                height: 28px;
                width: 28px;
            }
        }
    }

}

/*////////////// //////////////Medias querys ///////////////////////////// */
/* Mobile last /// Max Width */

@media (max-width: 965px) {
    .container-navbar {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "logo links"
            "busqueda busqueda"
        ;
        .busqueda{
            margin: auto;
            padding-bottom: 30px;
            input{
                width: 500px;
            
            }
        }

    }



}

@media (max-width: 715px) {
    .container-navbar {
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "links"
            "busqueda"
        ;
        .logo {
            margin: auto;
        }

    }

}

@media (max-width: 655px) {
    .container-navbar{
        .busqueda{
            input{
                width: 400px;
            }
        }

    }


}

@media (max-width: 435px) {
    .container-navbar{
        .links{
            li{
                padding: 4px;
            }
        }

        .busqueda {
            input{
                width: 200px;
            }
        }

     
    }

}

@media (max-width: 345px) {
    .container-navbar{
        .links{
            li{
                padding: 1px;
            }
        }

    }

}